/* Configurações Globois */
* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    --cor-bg-header: #fff;
    --cor-bg-footer: #fff;
    --cor-bg-tela-entrada: #fff;
    --cor-input: #000;
    --cor-horario: #aaa;
    --cor-mensagem-de-estado: #DCDCDC;
    --cor-mensagem-reservada: #FFDEDE;
    --cor-mensagem-normal: #FFFFFF;

}

button {
    margin: 0px;
    border: 0px;
    border-image-width: 0;
    background-color: var(--cor-bg-footer);
}

/* ---- Header ---- */
header {
    background: var(--cor-bg-header);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;

    padding-top: 16px;
    padding-bottom: 11px;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    z-index: 1;
}

header img {
    width: 75px;
    height: 53px;

    margin-left: 22px;
}

header ion-icon {
    font-size: 45px;

    margin-right: 21px;
}

/* ---- Main ---- */

main {
    margin-top: 106px;
    margin-bottom: 80px;
}


main ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    padding: 12px 0px;

    width: 100vw;

    display: flex;
    flex-wrap: wrap;

    margin-bottom: 4px;

    border-radius: 2px;

}

main ul li p {
    margin-left: 8px;
    margin-right: 8px;
}

.horario {
    color: var(--cor-horario);
}

b {
    font-weight: 700;
}

.mensagem-de-estado {
    background-color: var(--cor-mensagem-de-estado);
}

.mensagem-reservada {
    background-color: var(--cor-mensagem-reservada);
}

.mensagem-normal {
    background-color: var(--cor-mensagem-normal);
}

/* --- Tela de Entrada --- */
.tela-de-entrada {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    background-color: var(--cor-bg-tela-entrada);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tela-de-entrada .logo {
    width: 130px;
    height: 92px;

    margin-bottom: 94px;
}

.informacoes-de-entrada, .entrando {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input__nome-usuario {
    width: 260px;
    height: 54px;

    border: 1px solid #D7D7D7;
    border-radius: 4px;

    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;

}

.input__nome-usuario::placeholder {
    color: #AEAEAE;
}

.botao-entrar {
    width: 109px;
    height: 45px;

    background: #E7E7E7;
    border-radius: 9px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    text-align: center;
    color: #696969;

    margin-top: 15px;

}

.entrando img {
    width: 130px;
}

.entrando p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;

    margin-top: 10px;
}

.escondido {
    display: none;
}

/* ---- Footer ---- */
footer {
    height: 80px;

    background: var(--cor-bg-footer);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    z-index: 1;
}

.input__mensagem {
    font-weight: 400;
    font-style: italic;

    font-size: 18px;
    line-height: 21px;

    color: var(--cor-input);
    background-color: var(--cor-bg-footer);

    border: 0px;

    margin-left: 17px;

    width: calc(100vw - 17px - 26px - 40px);
}

.input__mensagem::placeholder {
    color: var(--cor-input);
}

.input__mensagem:focus {
    outline: none;
}

footer ion-icon {
    font-size: 26px;

    margin-right: 27px;
}